.loading{
          align-items: center;
          justify-content: center;
          background-color: rgb(255, 238, 162);
          display: flex;
          width: 100%;
          height: 100vh;
          top: 0;
          left: 0;
        }
        
        /* .loader-wrapper{
          align-items: center;
          justify-content: center;
          position: absolute;
          display: flex; 
        } */
        
        .load-text{
          color: rgb(103, 56, 24);
          align-items: center;
          justify-content: center;
          position: relative;
          font-size: 70px;
          animation: fades 1.2s infinite ease;
        }
        
        .inner-wrapper{
          align-items: center;
          justify-content: center;
          display: flex;
          height: 100px;
          margin: 40px;
        }
        
        .loader{
          position: relative;
        }
        
        .loader-inner{
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: rgb(103, 56, 24);
          animation: load 2s infinite ease;
          margin: 3px;
        }
        
        .inner1{
          animation-delay: 0.1s;
        }
        .inner2{
          animation-delay: 0.3s;
        }
        .inner3{
          animation-delay: 0.5s;
        }
        .inner4{
          animation-delay: 0.7s;
        }
        .inner5{
          animation-delay: 0.9s;
        }
        .inner6{
          animation-delay: 1.1S;
        }
        .inner7{
          animation-delay: 1.2s;
        }
        
        
        @keyframes load {
          0%{
            height: 20px;
            border-radius: 12px;
          }
        
          35%{
            height: 100px;
            border-radius: 12px;
          }
        
          70%{
            height: 20px;
            border-radius: 12px;
          }
        }
        
        @keyframes fades{
          30%{
            opacity: 1;
          }
        
          50%{
            opacity: 0.0000001;
          }
        
          70%{
            opacity: 1;
          }
        }